.hero.is-cmo {
	background-image: url(../images/home.jpg);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.section.is-carpet {
	background-image: url(../images/Close-upCarpetingLateral.png);
	height: 40%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #2E363F;
}
.section.is-carpet-info {
	background-color: #2E363F;
	color: white;
	font-size: 24px;
}
.section.is-carpet-vendors {
	background-color: #BCCCDB;
}
.section.is-carpet-vendors img {
	width: 75%;
	height: auto;
	margin: auto;
	display: block;
}
.section.is-carpet-vendors div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.section.is-hardwood {
	background-image: url(../images/Hardwood-Header.png);
	height: 40%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.section.is-hardwood h1 {
	color: white;
}
.section.is-hardwood-info {
	background-color: #2E363F;
	color: white;
	font-size: 24px;
}
.section.is-laminate-vinyl {
  background-image: url(../images/Laminate-Vinyl-Header.png);
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
.section.is-laminate-vinyl h1 {
	color: white;
}
.section.is-laminate-vinyl-info {
  background-color: #2E363F;
  color: white;
  font-size: 24px;
}
.section.is-laminate-vinyl-vendors {
  background-color: #BCCCDB;
}
.section.is-laminate-vinyl-vendors img {
  width: 75%;
  height: auto;
  margin: auto;
  display: block;
}
.section.is-laminate-vinyl-vendors div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.is-vinyl-info {
  background-color: #0068B7;
  color: white;
  font-size: 24px;
  text-align: center;
}

.section.is-hero-info {
  background-color: #2E363F;
  color: white;
  font-size: 24px;
  text-align: center;
}

.section.is-installation {
  background-color: #BCCCDB;
	color: #2E363F;
}
.section.is-installation-info {
  background-color: #0068B7;
  color: white;
  font-size: 24px;
}
.navbar-item img {
	max-height: 4.0rem;
}
.anchor{
	display: block;
	height: 4.0rem; /*same height as header*/
	margin-top: -4.0rem; /*same height as header*/
	visibility: hidden;
}
.vcenter {
	margin: auto;
}
