.hero.is-cmo {
	background-image: url(../images/home.jpg);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.navbar-item img {
	max-height: 4.0rem;
}
.anchor{
	display: block;
	height: 4.0rem; /*same height as header*/
	margin-top: -4.0rem; /*same height as header*/
	visibility: hidden;
}
